<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Welcome Page</title>
</head>
    <body><br>
        <div class="container">
            <div>
                <h1 class="center-align">Welcome to My Website</h1>
            </div>
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p id="flash">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <div class="right-align container">
                <div class="right-align container">
                    <form class="col s1" action="/process_login" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <input type="submit" value="login" class="btn blue accent-3">
                    </form>
                </div>
                <div>
                </div>
            </div><br><br><br>
            <div id="add_user" class="center-align container">
                <p>Don't have an account?   </p>
                <a href="/register" class="waves-effect waves-white green accent-5 btn white-text">Create Account</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>